@{ 
    var cssClasses = "styled-quote";
    if (Model.Alignment == "center")
    {
        cssClasses += " text--align-center";
    } 
}

@* Per the spec, blockquote should only contain direct quote content *@
@* https://www.w3.org/TR/html5-author/the-blockquote-element.html *@

<figure class="@cssClasses">
    <blockquote class="styled-quote__copy">
        <p>@Html.Raw(Model.Text)</p>
    </blockquote>

    @if (Model.HasCaption)
    {
        <figcaption class="styled-quote__source">
            @Html.Raw(Model.Caption)
        </figcaption>
    }
</figure>